<header>
	<h1>People Directory</h1>
	<h2>administration view</h2>
</header>

<form action="/clients" method="post">
<fieldset> 
	<legend>Client details</legend> 
	<ol> 
		<li>
			<label for="fullname">Full name</label>
			<input id="fullname" name="fullname" type="text" placeholder="Universal Music Group" autofocus>
		</li>
		<li>
			<label for="shortname">Short name (or acronym)</label>
			<input id="shortname" name="shortname" type="text" placeholder="UMG" autofocus>
		</li>
		<li>
			<input type="submit" value="Create" />	
		</li>
	</ol> 
</fieldset>
</form>
