<header>
	<h1><%= moduleName %></h1>
	<h2>administration view</h2>
</header>

<form action="/user" method="post">
		
	<fieldset> 
		<legend>User details</legend> 
		<ol> 
			<li> 
				<label for="name">Name</label> 
				<input id=name name="name" type="text" placeholder="First and last name" required autofocus> 
			</li> 
			<li> 
				<label for="email">Email</label> 
				<input id="email" name="email" type="email" placeholder="youremail@domain.com" required> 
			</li> 
			<li> 
				<label for="phone">Phone</label> 
				<input id="phone" name="phone" type="tel" placeholder="Eg. +447500000000" required> 
			</li> 
				
		</ol> 
	</fieldset>

</form>
